.bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color:#003c71;
    height: 40px;
 
}

.names{
    color: white;
    font-size: small;
    word-spacing:10px;

}