.bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color:#003c71;
    height: 40px;
   justify-content: flex-end;
   left: 20%;
 
}

.names{
    color: white;
    font-size: small;
    line-height: 10px;
       

}