.bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color:#003c71;
    height: 40px;
   justify-content: space-evenly;
 
}

.names{
    color: white;
    font-size: small;
       

}