.logo{
    height: 150px;
    width: 250px;
    position: absolute;
    left: 0px;
    top: 0px;

}

.content{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.menuItem{
    list-style-type: none;
    display: flex;
    
  
}