.logo{
    height: 150px;
    width: 250px;
  

}

.content{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.menuItem{
    list-style-type: none;
    display: flex;
    
  
}

.inputbar{
    height: 35px;
    width: 200px;
}

.searchbar{
    height: 35px;
    width: 35px;
    position: absolute;
    right: q00px;
}