.logo{
    height: 150px;
    width: 250px;
    padding-bottom: 10%;
}

.content{
    display: flex;
    flex-direction: row;
    justify-content: space-ev;
}

.menuItem{
    list-style-type: none;
    display: flex;
    
  
}