.logo{
    height: 150px;
    width: 250px;
    top: 10px;
    position: absolute;

}

.content{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.menuItem{
    list-style-type: none;
    display: flex;
    
  
}