.logo{
    height: 150px;
    width: 250px;
}

.content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menuItem{
    list-style-type: none;
    display: flex;
    
  
}