.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  background-color: white;
 
}

.header{
  background-color:#003c71;

}

.bottombar{
  display: flex;
  flex-direction: row;
  background-color:#003c71; 
  height: 40px;
  gap: 10px;
  align-items: center;
 
}

.media{
  font-size: small;
  color: white;
  font-weight: 100;
  margin-left: 10px;

}

.image{
  background-image: url('/background.jpeg');
  background-repeat: no-repeat;
  background-size: cover; 

  
}

